{% extends 'layout.html' %}

{% block title %}
{{ quiz.title }} - All questions are answered
{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card p-4 rounded shadow-sm">
      <h2 class="text-center mb-4">All questions are answered</h2>
      <p class="text-center">You have completed all the questions</p>
      <div class="text-center mt-4">
        <a href="{{ rerun_url }}" class="btn btn-primary">Go to the homepage</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}