{% extends 'layout.html' %}

{% block title %}
  Quiz
{% endblock %}

{% block content %}
  <h1 class="text-center mb-4">Quiz</h1>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form method="POST" class="bg-white p-4 rounded shadow-sm">
        <h4 class="text-center"><b>{{ question }}</b></h4>
        <br />

        <div class="form-group">
          <input type="text" name="answer" id="answer-input" class="form-control {{ success }}" required />
          <div>
            <small class="text-muted">{{ correctly_answered_list|length }} besvarede spørgsmål | {{ (answers_list|length) - (correctly_answered_list|length) }} spørgsmål tilbage</small>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-1">Indsend</button>

        <div class="mt-4">
          <h5>Liste over allerede besvarede:</h5>
          <ul class="list-group">
            {% for answer in correctly_answered_list %}
              <li class="list-group-item">{{ answer }}</li>
            {% endfor %}
          </ul>
        </div>
      </form>
    </div>
  </div>
  <script>
    window.onload = function () {
      document.getElementById('answer-input').focus()
    }
  </script>
  <style>
    .is-invalid {
      border-color: #dc3545;
      box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
    }
    .is-valid {
      border-color: #28a745;
      box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
    }
  </style>
{% endblock %}
